<div>
	<div id="schedulati">
		<div class="row" id="label_scritte">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><label>Nome Topic</label></div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><label>Data Scadenza</label></div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><label>Modifica Data</label></div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><label>Pubblica Ora</label></div>				
			</div>
		</div><br/>
	</div>
</div>