blockquote.spoiler {
  background: lighten(@brand-warning, 30%);
  border-left-color: @brand-warning;

  p {
    color: darken(@brand-warning, 30%);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  &:hover p {
    opacity: 1;
  }
}

@media (max-width: 767px) { 
  .scritte{
    font-size: 0.72em;
  }
  .riduciBottoneCellulare {
    font-size: 10px;
  }  

}